* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.header {
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: rgb(4, 99, 128);
}

#spaceLogo {
  width: 450px;
  height: 310px;
}
#logo {
  border-radius: 5%;
  justify-content: end;
  width: 300px;
  height: 300px;
  box-shadow: 0px 0px 32px white;
}

h1 {
  font-size: 50px;
  color: white;
  text-align: center;
}

.DateAdministrator {
  padding: 40px;
  display: flex;
  height: auto;
  background-color: rgb(204, 82, 122);
  column-gap: 50px;
}

.DateAppointments,
.Contact-form {
  flex-grow: 1;
  grid-template-columns: 15px;
  height: auto;
}

.dateControl {
  line-height: 40px;
}

h2 {
  font-size: 40px;
  margin: 10px;
}

.form {
  justify-content: center;
}

.label {
  font-size: 30px;
  font-weight: bold;
}
.housePetName,
.owner,
.Phone,
.Date,
.Time {
  width: 100%;
  height: 30px;
  font-size: 20px;
  border-color: black;
  border-radius: 7px;
}
h3 {
  font-size: 40px;
  text-align: center;
}

#DateList {
  display: flex;
  flex-wrap: wrap;
  flex-basis: auto;
}

#symptom {
  width: 100%;
  height: 80px;
  font-size: 20px;
  border-color: black;
  border-radius: 7px;
}

.Button {
  display: flex;
  justify-content: center;
  padding: 1em;
}
#onButton {
  border: 0;
  background-image: linear-gradient(150deg, #9500ff, #09f, #00ddff);
  border-radius: 8px;
  color: #fff;
  display: flex;
  font-size: 18px;
  padding: 4px;
  cursor: pointer;
  transition: 0.3s;
  justify-content: center;
}
#onButton span {
  background-color: #111;
  padding: 16px 24px;
  border-radius: 6px;
  transition: 0.3s;
}

#onButton:hover span {
  background: none;
}
#onButton:active {
  transform: scale(1.5);
}
.footer {
  background-color: rgb(4, 99, 128);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h4 {
  font-size: 50px;
  color: white;
}

.card {
  margin-top: 20px;
  margin-left: 5%;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0px 0px 32px rgb(4, 99, 128);
  flex-basis: 45%;
}

.SpaceLabel {
  display: flex;
}

.Name {
  font-weight: bold;
}

.SpaceButton {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.ButtonE,
.ButtonC {
  flex-basis: 60px;
  border-radius: 5px;
  color: white;
}

.ButtonE {
  background-color: green;
}
.ButtonC {
  background-color: red;
}

/* RENPONSIVE DISEGN
-imagenes fluidas
-Media queris*/

@media (max-width: 800px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
  }
  h1 {
    margin: none;
    font-size: 25px;
  }

  #spaceLogo {
    width: 200px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #logo {
    border-radius: 5%;
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 32px white;
  }

  h2,
  h3 {
    font-size: 20px;
  }

  .label {
    font-size: 18px;
  }

  .DateAdministrator {
    display: grid;
    height: auto;
  }

  .Contact-form {
    height: auto;
  }

  .footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h4 {
    font-size: 25px;
    color: white;
  }

  .card {
    width: 100%;
    display: grid;
  }
}
