* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.header {
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: rgb(4, 99, 128);
}

#spaceLogo {
  width: 450px;
  height: 310px;
}
#logo {
  border-radius: 5%;
  justify-content: end;
  width: 300px;
  height: 300px;
  box-shadow: 0px 0px 32px var(--background-color);
}

h1 {
  font-size: 50px;
  color: white;
}

.DateAdministrator {
  padding: 1.5em;
  display: flex;
  height: 750px;
  background-color: rgb(204, 82, 122);
}

.DateAppointments,
.Contact-form {
  flex-basis: 100px;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.dateControl {
  line-height: 40px;
}

h2 {
  font-size: 40px;
  margin: 10px;
}

.form {
  justify-content: center;
}

.label {
  font-size: 30px;
  font-weight: bold;
}
.input {
  width: 100%;
  height: 30px;
}
h3 {
  font-size: 40px;
}

#symptom {
  width: 100%;
  height: 80px;
}

.Button {
  display: flex;
  justify-content: center;
  padding: 1em;
}
.onButton {
  flex-basis: 200px;
  height: 50px;
  border-radius: 2%;
  background-color: green;
}

.footer {
  background-color: rgb(4, 99, 128);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h4 {
  font-size: 50px;
  color: white;
}
